<!DOCTYPE html>
<html>
<head>
<style>
body {background-color:#3dfffa;}
h1   {color:#ff4c00}
p    {color:#000000}
div  {border: groove ; color: crimson}
</style>
</head>
<body>

<tr><td><h1 dir="rtl" align="center">LinkBook</h1></td></tr>
<div>
    <tr><td><p dir="rtl" align="justify" style="padding-right: 20px;"> این با تورنادو هستش و گیت و اپن شیفت و از این داستانا </p></td></tr>
    <p style="padding-left: 20px; align-content: space-around" >پایچارم هم هست</p>
    <marquee> I'm blind, not deaf </marquee>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <marquee direction="down" behavior="alternate" style="border:solid">
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <marquee direction="down" behavior="alternate" style="border:solid ">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                    <marquee direction="up" behavior="alternate" style="border:solid ">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                     <marquee direction="up" behavior="alternate" style="border:solid ">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                     <marquee direction="up" behavior="alternate" style="border:solid ">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                    <marquee direction="up" behavior="alternate" style="border:solid ">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                    <marquee direction="up" behavior="alternate" style="border:solid ">
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                     <p align="center"> از نوشته ها همه تنها دوستارِ آن ام که با خونِ خود نوشته باشند. با خون بنویس تا بدانی که خون جان است. دریافتنِ خون بیگانه آسان نیست</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </marquee>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </marquee>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </marquee>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </marquee>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </marquee>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </marquee>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p align="center" style="font-size: larger">عمو فردریش</p>
    <p align="center" style="font-size: larger"> Enjoy!!! </p>
</div>
</body>
</html>