<!doctype html>
<html lang="fa">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Contact</title>
      <link rel="stylesheet" media="screen" type="text/css" href="../static/css/style.css" />


      <style type="text/css">


         body{direction: rtl; text-align: right; font: 24px/45px tahoma;}
         form{width: 580px;}
         label{display: inline-block; width: 170px;}
         input[type="submit"]{font: 12px/30px tahoma; margin: 10px 0;}

      </style>

   </head>



   <body>


    <!-- Start Wrapper -->
    <div id="wrapper">


        <!-- Start Header -->
    	<div id="header">

            <div class="right">
                <div id="logo">
                    <h1>وبسایت من</h1>
                </div>

                <div id="tagline">
                    <h2>یک سایت دیگر با وردپرس</h2>
                </div>
            </div>



                <br style="clear: both;" />

           <ul id="menu">

                <li><a href="index.html"><strong>خانه</strong></a></li>
                <li><a href="about.html">درباره</a></li>
                <li><a href="Contact.html">ارتباط با ما</a></li>
                <li><a href="help.html"><strong>راهنما</strong></a></li>
                <li><a href="Register2.html">ثبت نام</a></li>
                <li><a href="DashBoard.html">داشبورد</a></li>
            </ul>

            <br style="clear: both;" />
        </div>
        <!-- End Header -->

       <br>
<br>

      <form action="" method="post" enctype="multipart/form-data">
         <fieldset>

            <legend>فرم ارتباط با ما </legend>
            <br>



         <fieldset>


              <label> نام : </label> <label>
             <input type="text" name="txtpassword">
         </label> <br />
            <label> ایمیل : </label> <label>
             <input name="email" type="email" required>
         </label> <br /><br>


               <label>متن پیام : </label>


             <label>
                 <textarea> </textarea>
             </label>
             <br>
 </fieldset>
         <input type="submit" value="ارسال پیام ">
             </fieldset>
      </form>


      </div>
   </body>
</html>