<!doctype html>
<html lang="fa">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
   <title>Help</title>

<link rel="stylesheet" media="screen" type="text/css" href="../static/css/style.css" />
</head>

<body>

    <!-- Start Wrapper -->
    <div id="wrapper">
    
    
        <!-- Start Header -->
    	<div id="header">
     
            <div class="right">
                <div id="logo">
                    <h1>وبسایت من</h1>
                </div>

                <div id="tagline">
                    <h2>یک سایت دیگر با وردپرس</h2>
                </div>
            </div>

            <div class="left">
            
                <div id="sn-icons">
                    
                  <a href="Register.html"><img src="../static/images/Registericon.png" width="52" height="52" alt="Register" title="ثبت نام" /></a>
                  <a href="Login.html"><img src="../static/images/Loginicon.png" width="52" height="52" alt="Login" title="وارد شدن" /></a>
                
                </div>
                
                

                <div id="searchfrm">
                    <form action="#">
                        <input type="submit" value="" />
                        <input type="text" name="search" value="جستجو..."
                        onfocus="if(this.value == 'جستجو...') {this.value = '';}"
                        onblur="if(this.value == '') {this.value = 'جستجو...';}" />
                    </form>
                    
                </div>
            </div>

                <br style="clear: both" />

           <ul id="menu">
                
                <li><a href="index.html"><strong>خانه</strong></a></li>
                <li><a href="about.html">درباره</a></li>
                <li><a href="Contact.html">ارتباط با ما</a></li>
                <li><a href="help.html"><strong>راهنما</strong></a></li>
                <li><a href="Register2.html">ثبت نام</a></li>
                <li><a href="DashBoard.html">داشبورد</a></li>
            </ul>
            
            <br style="clear: both" />
</div>
        <!-- End Header -->
       
       
       
        <!-- Start Container -->
        <div id="container">
        	
          <br>
           <h2 style="color: #E91317"><strong> راهنمای سایت </strong></h2>
           
           <br>
<br>

           <h2><strong> راهنمای ثبت نام در لینک بوک </strong></h2><br>
<br><br><br>
            <h2><strong>راهنماای ثبت وب سایت </strong></h2><br><br><br>
             <h2><strong>نحوه ثبت نظر و علاقه مندی ها </strong></h2><br><br><br>
           
            <div id="content">
            
            
            
<br>

         </div>
</div>
 

        <!-- Start Footer -->
<div id="footer">
        
           <div class="left">
          <div id="logof">
                   <a href="#"><img src="../static/images/logof.png" width="80" height="100" />
                   
                   </div>
                    <br style="clear: both" />
                   
                      <p class="copyright"> تمام حقوق این وب سایت متعلق است به
    دانشجویان گروه کامپیوتر دانشگاه لرستان<br> پاییز 94
           </p>
        </div>
        <!-- End Footer -->
         <br style="clear: both" />
        
    </div>
    <!-- End Wrapper -->
    
</body>

</html>
