<!doctype html>
<!--suppress ALL -->
<html lang="fa">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>لینک بوک</title>

    <link rel="stylesheet" media="screen" type="text/css" href='{{ static_url("css/style.css")}}'/>

    <style type="text/css">
    body,td,th {
	font-family: "b nazanin";
}
a {
	font-family: "b nazanin";
}
h1,h2,h3,h4,h5,h6 {
	font-family: "b nazanin";
}
    </style>
</head>



<body>

    <!-- Start Wrapper -->
    <div id="wrapper">


        <!-- Start Header -->
    	<div id="header">

            <div class="right">
                <div id="logo">
                    <h1>وبسایت من</h1>
                </div>

                <div id="tagline">
                    <h2>یک سایت دیگر با وردپرس</h2>
                </div>
            </div>

            <div class="left">

                <div id="sn-icons">

                  <a href="Register.html"><img src="../static/images/Registericon.png" width="52" height="52" alt="Register" title="ثبت نام" /></a>
                  <a href="Login.html"><img src="../static/images/Loginicon.png" width="52" height="52" alt="Login" title="وارد شدن" /></a>

                </div>



                <div id="searchfrm">
                    <form method="get" action="http://www.google.com">
                        <input type="submit" value="" />
                        <input type="text" name="search" value="جستجو..."
                        onfocus="if(this.value == 'جستجو...') {this.value = '';}"
                        onblur="if(this.value == '') {this.value = 'جستجو...';}" />
                    </form>

                </div>
            </div>

                <br style="clear: both" />

            <ul id="menu">

                <li><a href="index.html"><strong>خانه</strong></a></li>
                <li><a href="about.html">درباره</a></li>
                <li><a href="Contact.html">ارتباط با ما</a></li>
                <li><a href="help.html"><strong>راهنما</strong></a></li>
                <li><a href="Register2.html">ثبت نام</a></li>
                <li><a href="DashBoard.html">داشبورد</a></li>
            </ul>

            <br style="clear: both" />
        </div>
        <!-- End Header -->



        <!-- Start Container -->
        <div id="container">

            <!-- Start Right Sidebar -->
            <div id="right-sidebar">
                <div class="block">
                    <h4 class="block-title">کسب و کارهای آنلاین</h4>
                    <div class="block-content">
                        <ul>
                            <li><a href="#">	اپ استور و مارکت ها</a></li>
                            <li><a href="#">	تبلیغات آنلاین</a></li>
                            <li><a href="#">	فروشگاه های آنلاین</a></li>
				       <li><a href="#">خرید گروهی</a></li>
				       <li><a href="#">مسکن و املاک</a></li>

                        </ul>
                    </div>
                </div>


               <div class="block">
                    <h4 class="block-title">خدمات آنلاین</h4>
                    <div class="block-content">
                        <ul>
                            <li><a href="#">	آموزش آنلاین</a></li>
                            <li><a href="#">	بازی های آنلاین</a></li>
                            <li><a href="#">	سرویس های وبلاگ</a></li>
							<li><a href="#">تغذیه و رستوران ها</a></li>
							<li><a href="#">اشتغال و کاریابی</a></li>
                        </ul>
                    </div>
                </div>


               <div class="block">
                    <h4 class="block-title">اطلاع رسانی و محتوا</h4>
                    <div class="block-content">
                        <ul>
                            <li><a href="#">	خانواده و کودک</a></li>
                            <li><a href="#">	دین و معارف</a></li>
                            <li><a href="#">	سینما و تئاتر</a></li>
							<li><a href="#">ورزش، بهداشت و سلامت</a></li>
							<li><a href="#">سبک زندگی</a></li>
                        </ul>
                    </div>
               </div>


				<div class="block">
                    <h4 class="block-title"><strong><span style="line-height:107%; font-family:'Adobe Arabic','serif'; font-size:14.0pt; ">شخصی و شرکتی</span></strong></h4>
                    <div class="block-content">
                        <ul>
                            <li><a href="#">	بانک و بیمه</a></li>
                            <li><a href="#">	صنایع سنگین</a></li>
                            <li><a href="#">	موسسات آموزشی</a></li>
							<li><a href="#">صنایع غذایی</a></li>
							<li><a href="#">وب سایت های شخصی</a></li>
                        </ul>
                    </div>
                </div>



           </div>
            <!-- End Right Sidebar -->




            <!-- Start Content -->
            <div id="content">

                <div class="post">


					<div class="thumb-text">
			<img class="post-thumb" src="../static/images/thumb.png" width="150" height="150" alt="تصویر بند انگشتی" title="تصویر بند انگشتی"/>
                 <a href="Webpages.html"><h4 class="post-title">عنوان سایت</h4></a>

					</div>
					<br style="clear: both;" />


                </div>




				<div class="post">

					<div class="thumb-text">
				<img class="post-thumb" src="../static/images/thumb.png" width="150" height="150" alt="تصویر بند انگشتی" title="تصویر بند انگشتی"/>
                       <a href="Webpages.html"><h4 class="post-title">عنوان سایت</h4></a>

					</div>
					<br style="clear: both;" />
                        </div>



                <div class="post">

			<div class="thumb-text">
			<img class="post-thumb" src="../static/images/thumb.png" width="150" height="150" alt="تصویر بند انگشتی" title="تصویر بند انگشتی"/>
                               <a href="Webpages.html"><h4 class="post-title">عنوان سایت</h4></a>

					</div>

					  <br style="clear: both;" />
                      </div>




                <div class="post">

			<div class="thumb-text">
			<img class="post-thumb" src="../static/images/thumb.png" width="150" height="150" alt="تصویر بند انگشتی" title="تصویر بند انگشتی"/>
                               <a href="Webpages.html"><h4 class="post-title">عنوان سایت</h4></a>

					</div>

					  <br style="clear: both;" />
                      </div>






            </div>
            <!-- End Content -->






            <br style="clear: both" />

        </div>
        <!-- End Container -->

        <!-- Start Footer -->
        <div id="footer">
            <div class="left">
                <div id="logof">
            <a href="#"><img src="../static/images/logof.png" width="80" height="100" /></a>
                </div>
                <br style="clear: both" />
                <p class="copyright"> تمام حقوق این وب سایت متعلق است به دانشجویان گروه کامپیوتر دانشگاه لرستان<br> پاییز 94</p>
            </div>
           <br style="clear: both" />
        </div>
        <!-- End Footer -->
    </div>
    <!-- End Wrapper -->

</body>

</html>