<!doctype html>
<html lang="fa">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Login</title>
<link href="../static/css/loginsty.css" rel="stylesheet" type="text/css">
<link href="../static/css/log.css"  rel="stylesheet" type="text/css" >

        <!-- Uniform jquery plugin style, for styling form elements -->
<!-- <link href="../static/css/jquery.uniform.css rel="stylesheet" type="text/css" > -->
</head>

<body>


 <div id="login-container-outer" class="radius">
            <div id="login-container" class="radius">
                <div id="login-header" class="radius-top">


                        <img src="../static/images/login_logo.png" alt="login logo" />

                </div>

                      <div id="login-content">
                    <form method="POST" action="index.html" id="wl-form" name="wl-form">
                        <label for="wl-username">نام کاربری</label>
                        <input type="text" id="wl-username" name="username" value placeholder="نام کاربری" />
                        <label for="wl-password">رمز عبور</label>
                        <input type="password" id="wl-password" name="password" value placeholder="رمز عبور" />

<input name="wl-btn" type="submit" class="fright" id="wl-btn" formaction="index.html" value="ورود" />
                    </form>

 <form action="javascript: void(0)" method="post" id="wr-form" name="wr-form" class="dis-none">
                        <label for="wr-email">Enter your email</label>
                        <input type="text" id="wr-email" name="wr-email" />
                        <p class="tright">
                            <input type="submit" value="Send the password" id="wr-btn" name="wr-btn" />
                        </p>
                    </form>

                </div>
            </div>
            <!-- END Login Container -->

        </div>




</body>
</html>
