<!doctype html>
<html lang="fa">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Webpages</title>
<link rel="stylesheet" href="../static/css/style2.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<style type="text/css">
body {
	background-color: #5286C4;
}
</style>
<script type="text/javascript" src="../static/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../static/js/jquery.jscrollpane.min.js"></script>
<meta charset="utf-8"></head>



<body>

<header>
   <a href="index.html"><strong><b><br>Home<br></b></strong></a>
</header>

<div id="top"></div>
<div id="wrapper">
	<!-- Navigation (left div)-->
	<div id="navigation">
		<ul class="nav">
			<li>
			   <a href="#"><img src="../static/images/img/dash6.png" alt="Dashboard" />معرفی</a>
			</li>
			<li>
			   <a href="#"><img src="../static/images/img/about.png" alt="About me" />افتخارات</a>
			</li>
			<li><a href="#"><img src="../static/images/img/works.png" alt="My projects" />وب سایت های مشابه</a></li>
			<li><a href="#"><img src="../static/images/img/contact.png" alt="Contact me" />نظرات</a></li>
               <li><a href="#"><img src="../static/images/img/contact.png" alt="Related" />خبرنامه</a></li>

		</ul>
	</div>
	<!-- Project content and bigger image will be displayed inside of  contentWrap div -->
			<div class="apple_overlay" id="overlay">

				<div class="contentWrap"></div>

			</div>
	<div class="panes clearfix" id="container">
		<!-- Dashboard tab -->
		<div>

			<div id="title">
			   <h1>درباره وب سایت ها</h1>
			   <h2>چشم انداز</h2>
			   <h2>ماموریت</h2>
			   <p class="free">مهارت</p>
			</div>
			<div id="buzymeter">
				<div class="bmLoader"></div>
			</div>

		</div>




		<!-- About me tab -->
		<div>
			<div id="aboutMe">
					<img src="http://lorempixum.com/140/120/abstract/" alt="My image" />
					<h3>لیست عناوین و افتخارات</h3>
					<p align="justify" dir="rtl">لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد. حروفچینی لازم در شرایط فعلی لازمه   بلکه شناخت این ابزار گاه اساسا بدون هدف بود و سئوالهای<p align="left"> <a href="about.html" rel="#overlay" dir="ltr">لینک جشنواره</a></p>
			</div>


                    <hr>

		</div>
		<!-- My projects tab -->
		<div>
			<!-- root element for scrollable -->
			<div class="scrollable vertical">
				<!-- root element for the scrollable elements -->
			   <div class="items">
					<!-- first element. contains three rows -->
					<div class="section">
						<!-- first row -->
						<div class="item freebie">

							<img src="http://lorempixum.com/149/149/abstract/" alt="Project name" class="projectThumb" />

							<div class="table">
								<ul class="projectInfo">
									<li><a href="#" rel="#overlay"><img src="../static/images/img/view.png" alt="View bigger" /></a></li>
									<li><a href="#"><img src="../static/images/img/download.png" alt="دانلود" /></a></li>
									<li><a href="#"><img src="../static/images/img/link.png" alt="نمایش زنده" /></a></li>
								</ul>
							</div>

						</div>
						<div class="item">

							<img src="http://lorempixum.com/149/149/abstract/" alt="Project name" class="projectThumb" />

							<div class="table">
								<ul class="projectInfo">
									<li><a href="#" rel="#overlay"><img src="../static/images/img/view.png" alt="بزرگتر ببینید" /></a></li>
									<li><a href="#"><img src="../static/images/img/link.png" alt="نمایش زنده" /></a></li>
								</ul>
							</div>

						</div>
						<div class="item">

							<img src="http://lorempixum.com/149/149/abstract/" alt="Project name" class="projectThumb" />

							<div class="table">
								<ul class="projectInfo">
									<li><a href="#" rel="#overlay"><img src="../static/images/img/view.png" alt="بزرگتر ببینید" /></a></li>
									<li><a href="#"><img src="../static/images/img/link.png" alt="نمایش زنده" /></a></li>
								</ul>
							</div>

						</div>
						<!-- IMPORTANT -->
						<div class="cBoth"></div>
					</div>

					<!-- second element. contains three rows -->
					<div class="section">
						<div class="item">

							<img src="http://lorempixum.com/149/149/abstract/" alt="Project name" class="projectThumb" />

							<div class="table">
								<ul class="projectInfo">
									<li class="oneBtn"><a href="#" rel="#overlay"><img src="../static/images/img/view.png" alt="بزرگتر ببینید" /></a></li>
								</ul>
							</div>

						</div>
						<div class="item freebie">

							<img src="http://lorempixum.com/149/149/abstract/" alt="Project name" class="projectThumb" />

							<div class="table">
								<ul class="projectInfo">
									<li><a href="#" rel="#overlay"><img src="../static/images/img/view.png" alt="بزرگتر ببینید" /></a></li>
									<li><a href="#"><img src="../static/images/img/download.png" alt="دانلود" /></a></li>
									<li><a href="#"><img src="../static/images/img/link.png" alt="نمایش زنده" /></a></li>
								</ul>
							</div>

						</div>
						<div class="item">

							<img src="http://lorempixum.com/149/149/abstract/" alt="Project name" class="projectThumb" />

							<div class="table">
								<ul class="projectInfo">
									<li><a href="#" rel="#overlay"><img src="../static/images/img/view.png" alt="بزرگتر ببینید" /></a></li>
									<li><a href="#"><img src="../static/images/img/link.png" alt="نمایش زنده" /></a></li>
								</ul>
							</div>

						</div>
						<!-- IMPORTANT -->
						<div class="cBoth"></div>
					</div>

					<div class="section">
						<!-- first row -->
						<div class="item freebie">

							<img src="http://lorempixum.com/149/149/abstract/" alt="Project name" class="projectThumb" />

							<div class="table">
								<ul class="projectInfo">
									<li><a href="#" rel="#overlay"><img src="../static/images/img/view.png" alt="بزرگتر ببینید" /></a></li>
									<li><a href="#"><img src="../static/images/img/download.png" alt="دانلود" /></a></li>
									<li><a href="#"><img src="../static/images/img/link.png" alt="نمایش زنده" /></a></li>
								</ul>
							</div>

						</div>
						<div class="item">

							<img src="http://lorempixum.com/149/149/abstract/" alt="Project name" class="projectThumb" />

							<div class="table">
								<ul class="projectInfo">
									<li><a href="#" rel="#overlay"><img src="../static/images/img/view.png" alt="بزرگتر ببینید" /></a></li>
									<li><a href="#"><img src="../static/images/img/link.png" alt="نمایش زنده" /></a></li>
								</ul>
							</div>

						</div>
						<div class="item freebie">

							<img src="http://lorempixum.com/149/149/abstract/" alt="Project name" class="projectThumb" />

							<div class="table">
								<ul class="projectInfo">
									<li><a href="#" rel="#overlay"><img src="../static/images/img/view.png" alt="View bigger" /></a></li>
									<li><a href="#"><img src="../static/images/img/download.png" alt="دانلود" /></a></li>
									<li><a href="#"><img src="../static/images/img/link.png" alt="نمایش زنده" /></a></li>
								</ul>
							</div>

						</div>
						<!-- IMPORTANT -->
						<div class="cBoth"></div>
					</div>
				</div>
			</div>
			<!-- Prev - Next buttons -->
			<div id="actions">
			   <a class="prev">قبلی</a>
				<p dir="rtl">*شما میتوانید از کلید های بالا و پائین صفحه کلید خود، برای پیمایش استفاده کنید</p>
			   <a class="next">بعدی</a>
			</div>
		</div>
		<!-- Contact me tab -->
		<div>

			<div id="form" class="fl">
				<!-- Contact Form -->
				<form id="contact-form" action="javascript:alert('success!');">
					<ul>
						<li>
							<label for="name">نام</label>
							<input type="text" name="name" id="name" value="" placeholder="نام شما">
						</li>
						<li>
							<label for="email">ای میل</label>
							<input type="text" name="email" id="email" value="" placeholder="ای میل شما">
						</li>

						<li>
							<textarea name="پیام" rows="5" cols="25" id="message" placeholder="اینجا بنویسید..."></textarea>
						</li>
						<li>
							<input type="submit" name="submit" value="ثبت نظر" class="button">
						</li>
					</ul>
				</form>




			<div class="cBoth"></div>
		</div>
	</div>
</div>
<script src="../static/js/ajax.js"></script>
<script src="../static/js/plugins.js"></script>

</div>
</body>
</html>